* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #D4D9F7;
    font-family: Arial, Helvetica, sans-serif;
    
}
  /* Top Navigation Section */
.header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #4B4E60;

}

.text {
    position: absolute;
    display: block;
    padding-top: 150px;
    padding-left: 90px;
}

.header h1 {
    font-size: 80px;
}

.header h2 {
    color: #FF6464;
    opacity: 80%;
    font-size: 50px;

}/*  Navgigation list **/

.header nav {
    position: absolute;
    padding-top: 320px;
    margin-left: 90px;
    font-size: 20px;
}

.header nav ul li {
   
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    
}

.header a {
    color: #D4D9F7;
    background-color: #4B4E60;
    padding: 10px;
    text-decoration: none;
    border-radius: 9% 9% 0 0;
}

p {
    font-size: 16px;
}

/* Background image  */
.hero {
    position: relative;
    padding-top: 0px;
    float: right;
    transform: scaleX(-1);
}

/* Content on Left side of website  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
}

.benefit {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #FF6464;
}

.benefit h2 {

    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*  Contents on right side of website */
.contact2 {
    margin-right: 20px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 100%;
    background-color: #4B4E60;
    border-radius: 0 5% 5% 0;
}

.contact {
    margin-top: 20px;
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}

.contact img {
    display: block;
    margin: 10px auto;
    max-width: 80px;
}

.contact a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}