body {
    background-color: #D4D9F7;
    font-family: Arial, Helvetica, sans-serif;
}

.desk{
    transform: scaleX(-1);
    }

.Secondrow {
    color: #FF6464;
    opacity: 80%;
    }

.btn {
    background-color: #4B4E60;

}    